/* @import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic); */
@import url(https://fonts.googleapis.com/css?family=Wix+Madefor+Display:regular,500,600,700,800);

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Wix Madefor Display", Arial, Helvetica, sans-serif;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
        background: #5A4FDF;
        /* padding: 10px; */
        border-radius: 100vh;
        border: 3px solid #221d66;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #5A4FDF;
    }
}